<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.store.shoprepo.dao.mapper.UserInfoMapper">

    <insert id="insert" parameterType="com.tan.store.shoprepo.pojo.UserInfoPojo">
        insert into user_info
            (id,user_name,pass_word,nick,head_pic,gmt_created,gmt_updated)
        values
            (#{id},#{userName},#{passWord},#{nick},#{headPic},#{gmtCreated},#{gmtUpdated})
    </insert>

</mapper>